@font-face {
    font-family: "Hanken Grotesk";
    font-weight: 500 800;
    src: url("../assets/fonts/HankenGrotesk.woff2") format("woff2-variations");
}
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

body {
    font-family: "Hanken Grotesk";
    font-size: 1.125rem;
    font-weight: 500;
}

.grid-flow {
    display: grid;
    gap: 0.5rem;
}

.grid-flow[data-spacing=large] {
    gap: 1.5rem;
}

.result-section {
    justify-items: center;
    padding: 24px 57px 40px;
    text-align: center;
    background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
    border-radius: 0px 0px 32px 32px;
}

.section-title {
    color: #cac9ff;
    font-weight: 700;
}

.result-score {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    font-size: 1rem;
    color: rgba(202, 201, 255, 0.5);
    z-index: 0;
}
.result-score span {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 800;
}

.result-score::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(180deg, #4d21c9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
    z-index: -1;
}

.result-rank {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
}
.result-rank + p {
    font-size: 1rem;
    color: #cac9ff;
}

.summary-section {
    padding: 24px 30px 30px;
}
.summary-section .section-title {
    color: #303b59;
}

.summary-section .grid-flow {
    gap: 1rem;
}

.summary-stat {
    display: flex;
    justify-content: space-between;
    padding: 17px;
    font-size: 1rem;
    border-radius: 12px;
    background-color: beige;
}

.flex-group {
    display: flex;
    gap: 0.75rem;
}

.summary-stat[data-stat-bg=red] {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #f55;
}
.summary-stat[data-stat-bg=red] .summary-stat-name {
    color: #ff5555;
}

.summary-stat[data-stat-bg=yellow] {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #ffb21e;
}
.summary-stat[data-stat-bg=yellow] .summary-stat-name {
    color: #ffb21e;
}

.summary-stat[data-stat-bg=green] {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00bb8f;
}
.summary-stat[data-stat-bg=green] .summary-stat-name {
    color: #00bb8f;
}

.summary-stat[data-stat-bg=blue] {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125d6;
}
.summary-stat[data-stat-bg=blue] .summary-stat-name {
    color: #1125d6;
}

.stat-score span {
    color: rgba(48, 59, 89, 0.5);
}

.btn {
    padding: 17px 0;
    background-color: #303b59;
    color: #fff;
    border-radius: 128px;
}

@media (min-width: 600px) {
    body {
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 100vh;
        background-color: #ecf2ff;
    }
    .result-summary {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 736px;
        border-radius: 32px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
    }
    .grid-flow {
        gap: 0.875rem;
    }
    .grid-flow[data-spacing=large] {
        gap: 1.75rem;
    }
    .result-section {
        padding: 38px 54px 55px;
        border-radius: 32px;
    }
    .section-title {
        font-size: 1.5rem;
    }
    .result-score {
        margin-top: 7px;
        width: 200px;
        height: 200px;
        font-size: 1.125rem;
    }
    .result-score span {
        font-size: 4.5rem;
    }
    .result-rank {
        font-size: 2rem;
    }
    .result-rank + p {
        font-size: 1.125rem;
    }
}/*# sourceMappingURL=main.css.map */