$red: #ff5555;
$yellow: #ffb21e;
$green: #00bb8f;
$blue: #1125d6;
$white: #fff;
$navy: #303b59;
$light-blue: #cac9ff;

// Gradients
$gradient1: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
$gradient2: linear-gradient(180deg, #4d21c9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
$light-red-accent: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #f55;
$light-green-accent: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00bb8f;
$light-yellow-accent: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #ffb21e;
$light-blue-accent: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125d6;
