@use "./colors" as *;
@use "./typography" as *;
@use "./reset" as *;

body {
	font-family: $ff-base;
	font-size: $fs-18;
	font-weight: $fw-normal;
}

.grid-flow {
	display: grid;
}

.grid-flow[data-spacing="large"] {
	gap: 1.5rem;
}

.result-section {
	justify-items: center;
	padding: 24px 58px 40px;
	text-align: center;
	background: $gradient1;
	border-radius: 0px 0px 32px 32px;
	z-index: 0;
}

.section-title {
	color: $light-blue;
	font-weight: $fw-bold;
}

.result-score {
	position: relative;
	width: 140px;
	height: 140px;
}

.result-score::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: $gradient2;
	z-index: -1;
}
